@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    background: linear-gradient(white, #c3b9d6);
}

#body-container {
    border: 5px solid #c3b9d6;
    border-radius: 30px;
    width: 60%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px gray;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-container {
    display: flex;
}

.post {
    margin-bottom: 20px;
}
