@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    background: linear-gradient(white, #c3b9d6);
}

#body-container {
    border: 5px solid #c3b9d6;
    border-radius: 30px;
    width: 60%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px gray;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-container {
    display: flex;
}


.post {
    display: flex;
    margin-bottom: 30px;
}

.label {
    display: flex;
}
.label:hover {
    cursor: pointer;
    background-color: rgb(213, 209, 209);
}

.content-div {
    width: 20vw;
}

.writer-div {
    width: 20vw;
}

@media  (max-width:400px) {
    #body-container {
        width: 90vw;
    }
    h1 {
        font-size: 8vw;
    }
    #input-container {
        display: block;
        margin-left: 20%;
    }

    .post {
        height: 50px;
    }
    .label {
        margin-right: 30px;
    }

    #post-form {
        width: 80vw;
    }

    #writer-form {
        width: 80vw;
    }
    .content-div {
        width: 30vw;
    }
    .label .writer-div { 
        margin-left: 30%;
    }
    
}